# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# env files — never commit these!
.env
.env.local
.env.staging
.env.production
.env*.local

# sanity dataset exports
*.tar.gz

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# typescript
*.tsbuildinfo
next-env.d.ts
